@using EntityLayer.Concrete
@model List<Feature>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

 <div class="card-header border-0">
              <h3 class="mb-0">Yetenek Tablosu</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">#</th>
                    <th scope="col" class="sort" data-sort="budget">Üst Başlık</th>
                    <th scope="col" class="sort" data-sort="status">İsim</th>
                    <th scope="col" class="sort" data-sort="status">Alt Başlık</th>
                    <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                   
                  </tr>
                </thead>
                <tbody class="list"> 
                    @foreach (var x in Model)
                    {
                      
          
                 <tr>
                    <td>
                      @x.FeatureId
                    </td>
                    <td class="budget">
                      @x.Header
                    </td>
                    <td>
                        @x.Name
                   </td>
                   <td>
                       @x.Title
                   </td>

                  <td> <a href="/Feature/EditFeature/@x.FeatureId" class="btn btn-success"> Güncelle</a></td>
                  </tr>
             
                  
                 
                  }
                </tbody>
              </table>

            </div>

