@using EntityLayer.Concrete
@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="card-header border-0">
              <h3 class="mb-0">Gelen Mesajlar</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                  <tr>
                    <th >#</th>
                    <th >Gönderen</th>
                    <th >Mail</th>
                    <th >Tarih</th>
                    <th >Sil</th>
                    <th >Mesajı Gör</th>
                   
                  </tr>
               
                <tbody class="list"> 
                    @foreach (var x in Model)
                    {
                      
          
                 <tr>
                    <td>
                      @x.MessageId
                    </td>
                    <td >
                      @x.Name
                    </td>
                     <td >
                      @x.Mail
                    </td>
                    <td>
                        @x.Date
                    </td>
               
                  <td> <a href="/Contact/DeleteContact/@x.MessageId" class="btn btn-danger"> Sil</a></td>
                  <td> <a href="/Contact/ContactDetails/@x.MessageId" class="btn btn-success"> Mesajı Gör</a></td>
                  </tr>
             
                  
                 
                  }
                </tbody>
              </table>

            </div>
